<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Qlip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Qlip.Properties.Settings>
            <setting name="SaveCount" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ResetOnPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResetOnCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasteTimeout" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MovePastedToFront" serializeAs="String">
                <value>False</value>
            </setting>
        </Qlip.Properties.Settings>
    </userSettings>
</configuration>
